<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Productlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Products</h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each = "product : ${products}">
        <td th:text="${product.productId} + ' ' +${product.productName} + ' ' + ${product.productDescription}+ ' ' + ${product.productPrice}"></td>
        <td sec:authorize="hasAuthority('ADMIN')" ><a th:href="@{/delete/{id}(id=${product.productId})}">Delete</a></td>
        <td><a th:href="@{/edit/{id}(id=${product.productId})}">Edit</a></td>
    </tr>
</table>
<a sec:authorize="hasAuthority('ADMIN')"  href="/add">Add Product</a>
<a href="/">HomePage</a>
<a href="/logout">Logout</a>
</body>
</html>